# Dependencias y compilados
node_modules
dist
.next

# Entornos y configuraciones
.env
.env.local
.env.docker

# Archivos temporales y logs
npm-debug.log
.DS_Store

# Repositorios y configuraciones de Docker
.git
Dockerfile
docker-compose.yml

# Volúmenes de base de datos
db_data
mysql_data
data
prisma/dev.db
